.bracketMatchup {
  border: 1px solid black;
  height: 75px;
  width: 150px;
  position: relative;
}

.highSeed {
  position: absolute;
  top: -20px;
}

.lowSeed {
  position: absolute;
  bottom: 0px;
}
