.checkbox {
  display: flex;
  flex-basis: calc(100% / 4);
  min-width: 250px;
  box-sizing: border-box;
  padding: 20px 0px 20px 20px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: start;
}
